.list-filter-container {
  padding: 20px 10px 28px 10px;
  text-decoration: none;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

@media (min-width: 576px) {
  .list-filter-container {
    padding: 20px 20px 30px 20px;
  }
}

@media (min-width: 768px) {
  .list-filter-container {
    padding: 40px 40px 50px 40px;
  }
}

@media (min-width: 1200px) {
  .list-filter-container {
    padding: 42px 40px 90px 40px;
  }
}
